* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 10px 20px;
    background: url(../img/header.jpg);
    background-size: cover;
}

header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
}

html {
    background-color: rgba(195, 249, 249, 0.3);
    background: url(../img/wall3.jpg);
    background-size: cover;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
}

h1,
h2 {
    font-weight: 600;
}

input {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Century Gothic", sans-serif;
    font-size: 15px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.5)
}

button {
    font-size: 16px;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    padding: 9px;
    background-color: rgb(255, 152, 152);
}

button:hover {
    color: rgba(255, 255, 255);
    background-color: rgb(255, 125, 125);
}

h1,
h2,
button {
    cursor: pointer;
}

a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centrar {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ventana {
    margin: 15px;
    padding: 30px 30px 40px 30px;
    background: white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.line {
    background-color: rgb(255, 125, 125);
    width: 180px;
    height: 4px;
    position: absolute;
    top: 60px;
}
/** LOGIN & REGISTRO **/
#login, #registro {
    width: 480px;
    height: auto;
    position: absolute;
    top: 170px;
    left: 75px;
}

#login .titulo, #registro .titulo {
    width: 360px;
}

form {
    padding-top: 40px;
    display: grid;
    grid-row-gap: 20px;
}

.mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgb(255, 125, 125);
}
